@charset "utf-8";
.vyi {
	font: bold 16px Verdana, Geneva, sans-serif;
	color: #FFF;
	clear: both;
	width: 980px;
	text-align: center;
	margin: auto;
	text-decoration: blink;
}
#vyi p span {
	font-size: x-large;
}
#vyi p span {
	font-family: "华文行楷";
}
.vyi_a {
	color: #0FF;
	font-family: "华文彩云";
	font-size: 36px;
}
jjl {
	font-size: 24px;
}
#a {
	font: normal 16px Verdana, Geneva, sans-serif;
	clear: both;
	width: 980px;
	height: 100px;
	color: #0FF;
	text-align: left;
	margin: auto;
}
#a #a {
	color: #0FF;
	text-align: right;
}
.xcsda {
	text-align: left;
}
.aas {
	color: #0FF;
	font-size: 14px;
	text-align: right;
}
.sdd {
	text-align: left;
}
#a p span {
	font-size: 16px;
	color: #0FF;
	text-align: right;
}
#a p {
	text-align: center;
	font-size: 12px;
}
