@charset "utf-8";
#afs {
	width: 1100px;
	clear: both;
	font-size: 24px;
	margin: auto;

}
#afs h1 {
	text-align: center;
}
#sddg {
	width: 980px;
	clear: both;
	margin: auto;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;

}
.ax {
	color: #0FF;
	text-align: right;
	width: 1200px;
	margin: auto;
}
#d #d {
	text-align: right;



}
#d #kl {
	text-align: right;
	color: #FFF;
}
