body{

	background: repeat-y center center;
}
#rocket-to-top div {
	left: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	top: 0;
	width: 149px;
	background: center center;
}
#rocket-to-top .level-2 {
    background:url("../images/rocket_button_up.png") no-repeat scroll -149px 0 transparent;
    display:none;
    height:250px;
    opacity:0;
    z-index:1;
}
#rocket-to-top .level-3 {
    background:none repeat scroll 0 0 transparent;
    cursor:pointer;
    display:block;
    height:150px;
    z-index:2;
}
#rocket-to-top {
    background:url("../images/rocket_button_up.png") no-repeat scroll 0 0 transparent;
    cursor:default;
    display:block;
    height:250px;
    margin:-125px 0 0;
    overflow:hidden;
    padding:0;
    position:fixed;
    right:0;
    top:80%;
    width:149px;
    z-index:11;
}

.DA {
	font-family: "Times New Roman", Times, serif;
	font-size: xx-large;
}
.big .left h3 {
	font-family: "华文行楷";
	color: #FF0;
}
.big .left .sidebar_link li {
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;
	list-style: url(none) none;

}
.big .left .sidebar_link {
	list-style: url(none) none;
	padding-top: 10px;
	padding-right: 0px;
	padding-left: 10px;
}
.big .main .nice p {

}
