#ada {
	font-size: 14px;
	height: 40px;
	width: 400px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 560px;
	text-align: right;
	color: #0F0;
}
#sdj {
	height: 40px;
	width: 60px;
	margin-top: auto;
	margin-right: 30px;
	margin-bottom: 30px;
	margin-left: 0px;
	position: fixed;
}
.zhu{
	width: 100px;
	height: auto;
	color: #0FF;
	font-size: 36px;
	font-family: "华文新魏";
	background-color: rgba(153,153,153,0.5);
	text-align: center;
}
#adp {
	font-size: 16px;
	margin-top: 40px;
	margin-right: 0px;
	margin-left: 20px;
	margin-right:20px;
	
}
